.supplier {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 55px;
}
.supplier-title {
    font-size: 35px;
}
.supplier-img_wrap {
    display: flex;
    margin-top: 20px;
    width: 80%;
    justify-content: space-around;
}
.supplier-img {
    cursor: pointer;
    transition: .3s;
}
.supplier-img:hover {
    transform: scale(1.3);
}