.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #4B648B;
}
.footer-wrap {
    width: 80%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
}
.about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.catalog {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer-title {
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.footer-link {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
.footer-link:hover {
    border-bottom: 1px solid #fff;
}